---
import LinkIcon from "./icons/LinkIcon.astro";
import LinkButton from "./LinkButton.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";

import WordPress from "./icons/tags/WordPress.astro";
import Elementor from "./icons/tags/Elementor.astro";
import Calcom from "./icons/tags/Calcom.astro";
import BunnyCDN from "./icons/tags/BunnyCDN.astro";
import Nuxt from "./icons/tags/Nuxt.astro";
import Netlify from "./icons/tags/Netlify.astro";

const TAGS = {
  WORDPRESS: {
    name: "WordPress",
    class: "bg-cyan-100 text-black",
    icon: WordPress,
  },
  ELEMENTOR: {
    name: "Elementor",
    class: "bg-red-100 text-black",
    icon: Elementor,
  },
  CALCOM: {
    name: "Cal.com",
    class: "bg-gray-100 text-black dark:bg-white dark:text-black",
    icon: Calcom,
  },
  BUNNY: {
    name: "Bunny CDN",
    class: "bg-orange-100 text-black",
    icon: BunnyCDN,
  },
  NUXT: {
    name: "Nuxt.js",
    class: "bg-green-100 text-black",
    icon: Nuxt,
  },
  NETLIFY: {
    name: "Netlify",
    class: "bg-cyan-100 text-black",
    icon: Netlify,
  },
};

interface Project {
  title: string;
  description: string;
  link: string;
  image: string;
  tags: {
    name: string;
    class: string;
    icon: any;
  }[];
  github?: string;
}

const PROJECTS: Project[] = [
  {
    title: "Healthysthetics",
    description:
      "Creation of a website from scratch for Healthysthetics Micropigmentation and Aesthetic Clinic, in Murcia, Spain. With a modern and personalized layout, fast loading with CDN, appointment scheduling system and WhatsApp notification automation.",
    link: "https://healthysthetics.es",
    image: "/projects/healthysthetics.webp",
    tags: [TAGS.WORDPRESS, TAGS.ELEMENTOR, TAGS.CALCOM, TAGS.BUNNY]
  },
  {
    title: "TitansDev",
    description:
      "Creation of a website for TitansDev - Digital Agency for Software Development and Digital Marketing, in Ourense, Spain. With a modern and bold design, it was created using Nuxt.js with Static Site Generation (SSG) technology. It includes a video call scheduling system with Cal.com and WhatsApp notification automation.",
    link: "https://titansdev.es",
    image: "/projects/titansdev.webp",
    tags: [TAGS.NUXT, TAGS.CALCOM, TAGS.NETLIFY]
  },
];
---

<div class="flex flex-col gap-y-16">
  {PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-secondary dark:text-primary">
          {title}
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHubIcon class="size-6" />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <LinkIcon class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
        </div>
      </div>
    </article>
  ))}
</div>